.l-outer-wrapper {
  background-color: $main-color1;
  margin: 0 auto;
  max-width: 1920px;
  overflow-x: hidden;

  &--header {
    background-image: linear-gradient(to right, $additional-green 0%, $additional-green  50%, $additional-red 50%, $additional-red 100%);
  }

  &--with-bg {
    background-image: url('../images/header-bg.jpg');
    background-size: cover;
    padding-bottom: 160px;
    padding-top: 192px;
    position: relative;

    @include breakpoint(medium) {
      padding-bottom: 70px;
      padding-top: 102px;
    }

    @include breakpoint(small) {
      padding-bottom: 40px;
      padding-top: 73px;
    }

    &::before {
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 0;
    }
  }

  &--secondary-theme {
    background-color: $main-color2;
  }
}

.l-inner-wrapper {
  display: grid;
  margin: 0 auto;
  max-width: 1356px;
  padding-left: 15px;
  padding-right: 15px;

  &--pb-lg {
    padding-bottom: 136px;

    @include breakpoint(medium) {
      padding-bottom: 32px;
    }
  }

  &--depth {
    position: relative;
    z-index: 1;
  }
}

.main {
  &--pb-middle {
    padding-bottom: 64px;
  }
}


