.l-outer-wrapper {
  background-color: #fff;
  max-width: 1920px;
  overflow-x: hidden;
  margin: 0 auto; 

  &--header {
    background-image: linear-gradient(to right,$additional-green 0%, $additional-green  50%, $additional-red 50%, $additional-red 100%)
  }

  &--with-bg {
    background-image: url('../images/header-bg.jpg');
    position: relative;
    background-size: cover;
    padding-top: 192px;
    padding-bottom: 160px;

      &:before {
        content: '';
        position: absolute;
        top: 0; 
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
      }
  }

  &--secondary-theme {
    background-color: $main-color2;
  }
}

.l-inner-wrapper { 
  max-width: 1356px;
  margin: 0 auto;

  &--depth {
    z-index: 1;
    position: relative;
  }
}


