$main-color1: #fff;
$main-color2: #213253;
$footer-line-color: #131d32;
$additional-green: #019146;
$additional-red: #d02738;
$shadow-btn-color: rgba(46, 50, 50, .6);
$shadow-field-color: rgba(4, 4, 5, .45);
$input-border-color: #d6d6d6;
$input-shadow-color: rgba(4, 4, 5, .3);
$accessories-item-shadow-color: rgba(46, 50, 50, .55);


