.advantages {
  &__list {
    @include clearfix();
    margin: 0;
    padding-left: 0;

    @include breakpoint(small) {
      @supports (display: flex){
        flex-direction: column;
      }
    }

    @supports (display: flex){
      display: flex;
    }

    @supports (display: grid){
      @include grid-wrap;
    }
  }

  &__item {
    float: left;
    list-style: none;
    padding: 0 10px;
    text-align: center;
    width: 33.3333%;

    @supports (display: flex){
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      flex: 1;
      width: auto;
      text-align: initial;
    }

    @supports (display: grid){
      grid-column: span 4;
    }

    @include breakpoint(small) {
      width: 100%;

      @supports (display: grid){
        grid-column: span 12;
      }
    }
  }

  &__header {
    color: $main-color2;
    font-family: geometriaBold, sans-serif;
    font-size: 1.25em;
    letter-spacing: .04em;
    margin-bottom: 49px;
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;

    @include breakpoint(medium) {
      margin-bottom: 29px;
    }

  }

  &__icon {
    margin-bottom: 32px;

    @include breakpoint(medium) {
      margin-bottom: 22px;
    }
  }

  &__description {
    color: $main-color2;
    font-family: geometriaExtraL, sans-serif;
    font-size: 1.25em;
    line-height: get-line-height(20px, 35px);
    margin: 0 auto 64px;
    max-width: 295px;
    text-align: center;

    @include breakpoint(medium) {
      font-size: 1em;
      line-height: get-line-height(16px, 25px);
      margin-bottom: 44px;
    }
  }
}
