.btn-primary {
  background-color: $additional-red;
  border: 0;
  border-radius: 4px;
  box-shadow: 1px 1.732px .67px .33px $shadow-btn-color;
  color: $main-color1;
  cursor: pointer;
  font-family: geometriaBold, sans-serif;
  font-size: 1em;
  height: 44px;
  letter-spacing: .04em;
  padding: 0;
  width: 230px;

  @include breakpoint(medium) {
    width: 200px;
  }

  &:hover {
    background-color: transparent;
    border: 2px solid $additional-red;
    color: $additional-red;
  }

  &--invert {
    background-color: transparent;
    border: 2px $main-color1 solid;
    width: 206px;

    @include breakpoint(medium) {
      width: 180px;
    }

    &:hover {
      background-color: $main-color1;
      border: 2px $main-color1 solid;
      color: $additional-green;
    }
  }

  &--yota-kit {
    margin-top: 51px;
  }

  &--view-slogan {
    display: block;
    margin: 84px auto 0;

    @supports (display: grid) {
      grid-column: span 12;
    }

    @include breakpoint(medium) {
      margin-top: 50px;
    }
  }

  &--filter-form {
    display: block;
    font-size: 16px;
    margin: 4em auto 8em;

    @supports (display: grid){
      grid-column: 12 span;
    }

    @include breakpoint(medium) {
      margin: 2em auto 4em;
    }
  }

  &--yota-accessories {
    display: block;
    margin: 0 auto 42px;
    position: relative;
  }

  &--youtube-reviews {
    display: block;
    margin: 64px auto 0;

    @include breakpoint(medium) {
      margin-top: 32px;
    }
  }

  &--callback-form {
    height: 48px;
    margin-top: 36px;
    width: 16.9616%;

    @include breakpoint(large) {
      font-size: .9em;
    }

    @include breakpoint(medium) {
      margin-top: 25px;
      width: 200px;
    }
  }
}
