.call {

  &--header {
    float: right;
    position: relative;
    margin-top: 32px;
    margin-right: 273px;

    @include breakpoint(large){
      margin-right: 240px; 
    }
    
    @include breakpoint(small){
      margin-right: 170px;
    }

    @include breakpoint(mobile){
      margin-right: 10px;
    }
  }

  &__telephone {
    display: block;
    color: $main-color2;
    font-size: 1em;
    font-family: 'geometriaBold', sans-serif;
    text-align: right;

    @include breakpoint(large){
      font-size: .9em;
    }
  }

  &__callback-btn {
    color: $main-color2;
    font-size: .75em;
    font-family: 'geometriaItalic';
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;

    @include breakpoint(large){
      font-size: .65em;
    }
  }
}
