.call {

  &--header {
    float: left;
    position: relative;
    margin-top: 32px;
    margin-left: 254px;
  }	

  &__telephone{
    display: block;
    color: $main-color2;
    font-size: 1em;
    font-family: 'geometriaBold', sans-serif;
    text-align: right;
  }

  &__callback-btn {
    color: $main-color2;
    font-size: .75em;
    font-family: 'geometriaItalic';
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
  }
}