.filter-form {
  font-size: 0; // set for delete margins before inline-block elements;

  @supports (display: grid){
    @include grid-wrap;
    align-items: end;
  }

  &__item {
    display: inline-block;
    font-size: 16px;
    margin-left: 1.8911%;
    max-width: 36.7994%;
    width: 100%;

    @supports (display: grid){
      grid-column: 1/5;
      max-width: none;
      margin-left: 0;
    }

    @include breakpoint(small) {
      display: block;
      margin-bottom: 1em;
      max-width: 100%;

      @supports (display: grid){
        grid-column: span 12;
      }
    }

    &--big {
      max-width: 32.7433%;

      @supports (display: grid){
        grid-column: 8 / 13;
        max-width: none;
      }

      @include breakpoint(small) {
        margin-left: 0;
        max-width: 100%;

        @supports (display: grid){
          grid-column: span 12;
        }
      }
    }

    &--small {
      max-width: 12.3893%;

      @supports (display: grid){
        grid-column: 5 / 6;
        max-width: none;
      }

      @include breakpoint(small) {
        margin-left: 0;
        max-width: 100%;

        @supports (display: grid){
          grid-column: span 12;
        }
      }

      &+& {
        @supports (display: grid){
          grid-column: 6 / 8;
        }

        @include breakpoint(small) {
          @supports (display: grid){
            grid-column: span 12;
          }
        }
      }
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__label {
    color: $main-color2;
    display: block;
    font-family: geometriaLight;
    padding-bottom: 1em;

    @include breakpoint(small) {
      padding-bottom: .5em;
    }
  }

  &__input {
    border: $input-border-color 1px solid;
    border-radius: 4px;
    box-shadow: inset 0 2px 3px 0 $input-shadow-color;
    box-sizing: border-box;
    height: 46px;
    padding-left: .5em;
    width: 100%;
  }
}

