.header {
  background-color: $main-color1;
  height: 96px;
  position: relative;

  @supports (display: flex){
    display: flex;
    align-items: center;
  }

  @supports (display: flex){
    @include grid-wrap;
  }

  &::before {
    background-image: url('../images/filter-part-left.jpg');
    content: '';
    display: block;
    height: 96px;
    left: -186px;
    position: absolute;
    width: 389px;

    @include breakpoint(small) {
      left: -256px;
    }
  }

  &::after {
    background-image: url('../images/filter-part-right.jpg');
    content: '';
    display: block;
    height: 96px;
    position: absolute;
    right: -80px;
    top: 0;
    width: 310px;

    @include breakpoint(small) {
      right: -150px;
    }

    @include breakpoint(mobile) {
      display: none;
    }
  }
}
