.header {
  background-color: #fff;
  position: relative;
  height: 96px;

  @supports (display: flex){
    display: flex;
    align-items: center;
  }

  &:before {
    content: '';
    background-image: url('../images/filter-part-left.jpg');
    display: block;
    position: absolute;
    left: -186px;
    width: 389px;
    height: 96px;

   @include breakpoint(small){
      left: -256px;
   }
  }

  &:after {
    content: '';
    background-image: url('../images/filter-part-right.jpg');
    position: absolute;
    display: block;
    width: 310px;
    height: 96px;
    right: -80px;
    top: 0;

    @include breakpoint(small){
      right: -150px;
    }

    @include breakpoint(mobile){
      display: none;
    }
  }
}