.logo {
  &--header {
    float: left;
    position: relative;
    margin-top: 13px;

    @supports(display: flex){
      margin-top: 0;
    }

   @include breakpoint(small){
      margin-top: 26px;

      @supports(display: flex){
        margin-top: 0;
      }
    }
  }

  &__image {
  	vertical-align: middle;
  	
    @include breakpoint(small){
      width: 100px;
      height: auto;
    }
  }
}