.logo {
  &--header {
    float: left;
    position: relative;
    height: 100%;
    
    @include vertical-center();
  }

  &__image {
    vertical-align: middle;

    @include breakpoint(small){
      width: 100px;
      height: auto;
    }
  }
}