.section-header {
  color: $main-color2;
  font-family: geometriaBold, sans-serif;
  font-size: 2.75em;
  letter-spacing: .06em;
  margin-bottom: 64px;
  margin-top: 64px;
  text-align: center;
  text-transform: uppercase;

  @include breakpoint(medium) {
    font-size: 2em;
    margin-bottom: 32px;
    margin-top: 32px;
  }

  @include breakpoint(small) {
    font-size: 1.5em;
  }

  &--invert {
    color: $main-color1;
  }

  &--advantages {
    line-height: 1;
    margin-top: 32px;
  }

  &--yota-accessories {
    margin-bottom: 32px;
  }

  &--youtube-reviews {
    margin-top: 0;
  }

  &--yota-lpg-equipment {
    margin-top: 79px;

    @include breakpoint(medium) {
      margin-bottom: 20px;
      margin-top: 50px;
    }
  }

  &--footer {
    color: $main-color1;
    margin-bottom: 33px;
    text-align: left;

    span {
      font-family: geometriaLight, sans-serif;
    }
  }
}
