.section-header {
  color: $main-color2;
  font-size: 2.75em;
  font-family: geometriaBold, sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-top: 64px;
  margin-bottom: 64px;

  &--invert {
    color: $main-color1;
  }

  &--advantages {
    margin-top: 32px;
    line-height: 1;
  }

  &--yota-accessories {
    margin-bottom: 32px;
  }

  &--youtube-reviews {
    margin-top: 0;
  }

  &--yota-lpg-equipment {
    margin-top: 79px; 
  }
}