.view-slogan {

  &__header {
    text-align: center;
    font-family: 'geometriaRegular', sans-serif;
    font-size: 2.75em;
    color: $main-color1;
    text-transform: uppercase;
    line-height: get-line-height(44px, 64px);
    margin: 0;

    @include breakpoint(medium){
      font-size: 1.75em;
    }

    @include breakpoint(small){
      font-size: 1.3em;
    }

    @include breakpoint(mobile){
      font-size: 1em;
    }

      span {
        font-family: 'geometriaHeavy', sans-serif;
        font-size: 2em;
        line-height: 0;

        span {
          color: $additional-green;
          font-size: 1em;
        }
      }
  }
}