.yota-description {
  font-size: 1em;
  font-family: geometriaMediumI, sans-serif;
  color: $main-color2;

  @include breakpoint(large){
    font-size: .9em;
  }

  &--header {
    float: left;
    margin-left: 78px;
    margin-top: 32px;

    @supports (display: flex){
      margin-top: 0;
      margin-bottom: 0;
    }

    @include breakpoint(large){
      margin-left: 50px;
      display: block;
    }

    @include breakpoint(medium){
      display: none;
    }
  }
}