.yota-accessories {

  &__small-header {
    color: $main-color2;
    font-family: geometriaLight, sans-serif;
    font-size: 1em;
    line-height: get-line-height(16px, 26px);
    margin-bottom: 52px;
    margin-top: 0;
    text-align: center;
  }

  &__list {
    @include clearfix();
    margin: 0;
    padding-left: 0;

    @supports (display: flex){
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    @supports (display: grid){
      @include grid-wrap;
    }
  }

  &__item {
    border-radius: 4px;
    box-shadow: .391px .921px 9px 0 $accessories-item-shadow-color;
    float: left;
    margin-bottom: 4em;
    margin-right: 1.7699115%;
    padding-bottom: 30px;
    padding-top: 30px;
    position: relative;
    text-align: center;
    width: 23.6725664%;

    @supports (display: grid){
      grid-column: span 3;
      width: auto;
      margin-right: 0;
    }

    @include breakpoint(medium) {
      margin-bottom: 2em;
      margin-right: 3.3333%;
      width: 31%;

      @supports (display: grid){
        grid-column: span 4;
        width: auto;
      }
    }

    @include breakpoint(small) {
      float: none;
      margin-right: 0;
      width: 100%;

      @supports (display: flex){
        flex: 0 0 75%;
      }

      @supports (display: grid){
        grid-column: span 6;
      }
    }

    @include breakpoint(mobile) {
      @supports (display: grid){
        grid-column: span 12;
      }
    }

    &:nth-child(4n) {
      margin-right: 0;

      @include breakpoint(medium) {
        margin-right: 3.3333%;
      }

      @include breakpoint(small) {
        margin-right: 0;
      }
    }

    &:nth-child(3n) {
      @include breakpoint(medium) {
        margin-right: 0;
      }
    }

    &::before {
      background-color: $additional-green;
      border-radius: 0 0 4px 4px;
      bottom: 0;
      box-shadow: .391px .921px 9px 0 $accessories-item-shadow-color;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 40%;
    }
  }

  &__img {
    height: auto;
    max-width: 282px;
    position: relative;
    width: 100%;
  }

  &__caption {
    color: $main-color1;
    font-family: geometriaRegular, sans-serif;
    font-size: 1.375em;
    font-weight: normal;
    margin-bottom: 2em;
    margin-top: 1em;
    position: relative;

    @include breakpoint(large) {
      font-size: 1.2em;
    }

    @include breakpoint(medium) {
      font-size: 1.1em;
    }
  }

  &__link {
    color: $main-color1;
    font-family: geometriaExtraL, sans-serif;
    font-size: .75em;
    letter-spacing: .04em;
    position: relative;
    text-decoration: none;
  }
}
