.yota-lpg-equipment {
  &__text {
    font-size: 1em;
    font-family: geometriaRegular, sans-serif;
    line-height: get-line-height(16px, 36px);
    color: $main-color2;
    text-align: center;
    margin-bottom: 4em;

    @include breakpoint(medium){
      line-height: get-line-height(16px, 30px);
      margin-bottom: 2em;
    }
  }

  &__view-list {
    padding-left: 0;
    margin: 0;
    @include clearfix();
  }

  &__item {
    width: 23.67266%;
    float: left;
    line-height: 1;
    margin-right: 1.7699%;
    margin-bottom: 2em;

    @include breakpoint(medium){
      width: 49%;
      margin-right: 2%;
      margin-bottom: 1em;
    }

    @include breakpoint(small){
      width: 100%;
      margin-right: 0;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-child(2n){
      @include breakpoint(medium){
        margin-right: 0;
      }
    }
  }

  &__view-photo {
    width: 100%;
    height: auto;
  }
}