.yota-kit {
  padding-bottom: 2em;  

  @include breakpoint(medium) {
    padding-bottom: 2em;
  }

  .yota-kit__list {
    padding-left: 0;
    margin: 0;
    @include clearfix();
    text-align: center;

    @supports (display: flex){
      display: flex;
      flex-wrap: wrap;
    }

    @supports (display: grid){
      @include grid-wrap;
    }

    @include breakpoint(mobile){
      @supports(display: flex){
        flex-direction: column;
      }
    }
  }

  .yota-kit__item {
    padding: 0 10px;
    width: 25%;
    float: left;
    box-sizing: border-box;
    margin-bottom: 2em;

    @supports (display: flex){
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      flex: 1;
      width: auto;
    }

    @supports (display: grid){
      grid-column: 3 span;
    }

    @include breakpoint(medium){
      width: 50%;

      @supports (display: flex){
        width: auto;
        flex-basis: 50%;
      }

      @supports (display: grid){
        grid-column: span 4;
      }
    }

    @include breakpoint(small){
      width: 100%;
      
      @supports (display: grid){
        grid-column: span 6 ;
      }
    }

    @include breakpoint(mobile){
      @supports (display: flex){
        flex-basis: 0%;
      }

      @supports (display: grid){
        grid-column: span 12;
      }
    }
  }

  .yota-kit__header {
  	font-size: 1.1875em;
  	font-family: geometriaRegular, sans-serif;
  	color: $main-color1;
  	text-transform: uppercase;
  	line-height: get-line-height(19px, 32px);
  	letter-spacing: 0.02em;
  	margin-top: 0;
  	margin-bottom: 49px;

    @include breakpoint(large){
      font-size: 1em;
      margin-bottom: 30px;
    }
  }

  .yota-kit__inner-list {
  	font-size: 1em;
  	font-family: geometriaLight, sans-serif;
  	line-height: get-line-height(16px, 32px);
  	color: $main-color1;
  	padding-left: 0;
  	margin-bottom: 0;
  	margin-top: 40px;
  }
}