.yota-lpg-equipment {
  &__text {
    color: $main-color2;
    font-family: geometriaRegular, sans-serif;
    font-size: 1em;
    line-height: get-line-height(16px, 36px);
    margin-bottom: 4em;
    text-align: center;

    @include breakpoint(medium) {
      line-height: get-line-height(16px, 30px);
      margin-bottom: 2em;
    }
  }

  &__view-list {
    @include clearfix();
    margin: 0;
    padding-left: 0;

    @supports (display: flex){
      display: flex;
      flex-wrap: wrap;
    }

    @supports (display: grid){
      @include grid-wrap;
    }

    @include breakpoint(small) {
      flex-direction: column;
    }
  }

  &__item {
    float: left;
    line-height: 1;
    margin-bottom: 2em;
    margin-right: 1.7699%;
    width: 23.67266%;

    @supports (display: grid){
      width: auto;
      grid-column: span 3;
    }

    @include breakpoint(medium) {
      margin-bottom: 1em;
      margin-right: 2%;
      width: 49%;

      @supports (display: flex){
        flex-basis: 49%;
      }

      @supports (display: grid){
        width: auto;
        grid-column: span 6;
        margin-right: 0;
      }
    }

    @include breakpoint(small) {
      margin-right: 0;
      width: 100%;
    }

    @include breakpoint(mobile) {
      @supports (display: grid){
        grid-column: span 12;
      }
    }

    &:nth-child(2n) {
      @include breakpoint(medium) {
        margin-right: 0;
      }
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  &__view-photo {
    height: auto;
    width: 100%;
  }
}
