.yota-description {
  font-size: 1em;
  font-family: geometriaMediumI, sans-serif;
  color: $main-color2;

  @include breakpoint(large){
    font-size: .9em;
  }

  &--header {
    float: left;
    margin-left: 78px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    @supports (display: flex){
      top: auto;
      transform: translateY(0);
    }

    @include breakpoint(large){
      margin-left: 50px;
      display: block;
    }

    @include breakpoint(medium){
      display: none;
    }
  }
}