.yota-kit {
  padding-bottom: 2em;

  @include breakpoint(medium) {
    padding-bottom: 2em;
  }

  .yota-kit__list {
    @include clearfix();
    margin: 0;
    padding-left: 0;
    text-align: center;

    @supports (display: flex){
      display: flex;
      flex-wrap: wrap;
    }

    @supports (display: grid){
      @include grid-wrap;
    }

    @include breakpoint(mobile) {
      @supports(display: flex){
        flex-direction: column;
      }
    }
  }

  .yota-kit__item {
    box-sizing: border-box;
    float: left;
    margin-bottom: 2em;
    padding: 0 10px;
    width: 25%;

    @supports (display: flex){
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      flex: 1;
      width: auto;
    }

    @supports (display: grid){
      grid-column: 3 span;
    }

    @include breakpoint(medium) {
      width: 50%;

      @supports (display: flex){
        width: auto;
        flex-basis: 50%;
      }

      @supports (display: grid){
        grid-column: span 4;
      }
    }

    @include breakpoint(small) {
      width: 100%;

      @supports (display: grid){
        grid-column: span 6;
      }
    }

    @include breakpoint(mobile) {
      @supports (display: flex){
        flex-basis: 0%;
      }

      @supports (display: grid){
        grid-column: span 12;
      }
    }
  }

  .yota-kit__header {
    color: $main-color1;
    font-family: geometriaRegular, sans-serif;
    font-size: 1.1875em;
    letter-spacing: .02em;
    line-height: get-line-height(19px, 32px);
    margin-bottom: 49px;
    margin-top: 0;
    text-transform: uppercase;

    @include breakpoint(large) {
      font-size: 1em;
      margin-bottom: 30px;
    }
  }

  .yota-kit__inner-list {
    color: $main-color1;
    font-family: geometriaLight, sans-serif;
    font-size: 1em;
    line-height: get-line-height(16px, 32px);
    margin-bottom: 0;
    margin-top: 40px;
    padding-left: 0;
  }
}
