.youtube-reviews {
  &__list {
    padding: 0;
    margin: 0;
    @include clearfix();

    @supports (display: flex){
      display: flex;
      flex-wrap: wrap;

      @supports (display: grid){
        @include grid-wrap;
      }

      @include breakpoint(small){
        flex-direction: row;
      }
    }
  }

  &__item {
    float: left;
    width: 23.746313%;
    margin-right: 1.65%;
    margin-bottom: 30px;
    line-height: 1;

    @supports (display: grid){
      grid-column: span 3;
      width: auto;
    }

    @include breakpoint(medium){
      width: 31%;
      margin-right: 3.3333%;
      margin-bottom: 15px;

      @supports (display: grid){
        grid-column: span 4;
        width: auto;
      }
    } 

    @include breakpoint(small){
      width: 100%;
      margin-right: 0;

      @supports (display: grid){
        grid-column: span 6;
      }
    }

    @include breakpoint(mobile){
      @supports (display: grid){
        grid-column: span 12;
      }
    }
    
    &:nth-child(4n) {
      margin-right: 0;

      @include breakpoint(medium){
        margin-right: 3.3333%;
      }	
    }

    &:nth-child(3n){
      @include breakpoint(medium){
        margin-right: 0;
      }
    }
  }
}