.youtube-reviews {
  &__list {
    @include clearfix();
    margin: 0;
    padding: 0;

    @supports (display: flex){
      display: flex;
      flex-wrap: wrap;

      @supports (display: grid){
        @include grid-wrap;
      }

      @include breakpoint(small) {
        flex-direction: row;
      }
    }
  }

  &__item {
    float: left;
    line-height: 1;
    margin-bottom: 30px;
    margin-right: 1.65%;
    width: 23.746313%;

    @supports (display: grid){
      grid-column: span 3;
      width: auto;
    }

    @include breakpoint(medium) {
      margin-bottom: 15px;
      margin-right: 3.3333%;
      width: 31%;

      @supports (display: grid){
        grid-column: span 4;
        width: auto;
      }
    }

    @include breakpoint(small) {
      margin-right: 0;
      width: 100%;

      @supports (display: grid){
        grid-column: span 6;
      }
    }

    @include breakpoint(mobile) {
      @supports (display: grid){
        grid-column: span 12;
      }
    }

    &:nth-child(4n) {
      margin-right: 0;

      @include breakpoint(medium) {
        margin-right: 3.3333%;
      }	
    }

    &:nth-child(3n){
      @include breakpoint(medium) {
        margin-right: 0;
      }
    }
  }
}
